:root {
	--yellow: linear-gradient(180deg, #f8d49a -146.42%, #fad79d -46.42%);
	--orange: #fca61f;
	--black: #242d49;
	--gray: #788097;
	--purple: linear-gradient(180deg, #bb67ff 0%, #c484f3 100%);
	--pink: #ff919d;
	--glass: rgba(255, 255, 255, 0.54);
	--boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
	--smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
	--activeItem: #f799a354;
	--bg-blue: #edf2f9;
	--text-color: #506690
}
.custom-audio::-webkit-media-controls-panel {
	background-color: #ffffff; /* Nền trắng cho phần giao diện */
	border-radius: 0.5rem; /* Bo tròn các góc */
  }
  
  .custom-audio::-webkit-media-controls-play-button,
  .custom-audio::-webkit-media-controls-volume-slider {
	background-color: #ffffff; /* Màu nền trắng cho các nút */
	border: 1px solid #ccc; /* Viền nhẹ để phân biệt */
	border-radius: 0.25rem; /* Bo góc */
  }
  
  .custom-audio::-webkit-media-controls-current-time-display,
  .custom-audio::-webkit-media-controls-time-remaining-display {
	color: #333; /* Màu chữ đậm hơn */
  }
  

.App {
	/* padding: 0.5rem 3.5rem; */
	color: var(--black);
	/* background: linear-gradient(
		106.37deg,
		#fbdfbe 29.63%,
		#ffcfd1 51.55%,
		#f3c6f1 90.85%
	); */
	/* background-color: rgb(254, 254, 139); */
	/* background-color: white; */
	height: 100vh;
	/* display: flex; */
	/* align-items: center; */
	justify-content: center;
	font-family:Roboto,Arial,sans-serif;
}

.AppGlass {
	/* display: grid; */
	/* padding:10px; */
	height: calc(100vh);
	width: 100%;
	background: var(--bg-blue);
	/* border-radius: 2rem; */
	gap: 16px;
	grid-template-columns: 11rem auto 20rem;
	overflow: hidden;
	/* background-color: white; */
}


@media screen and (max-width: 1200px) {
	.AppGlass {
		grid-template-columns: 10% 50% auto;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 768px) {
	.AppGlass {
		grid-template-columns: 1fr;
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;
